Source: haskell-case-insensitive
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders:
 Clint Adams <clint@debian.org>,
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-hashable-dev (>= 1.0),
 libghc-hashable-prof,
 libghc-semigroups-dev (>= 0.18),
 libghc-semigroups-prof,
 libghc-hunit-dev (>= 1.2.2),
 libghc-test-framework-dev (>= 0.2.4),
 libghc-test-framework-hunit-dev (>= 0.2.4),
Build-Depends-Indep: ghc-doc,
 libghc-hashable-doc,
 libghc-semigroups-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/basvandijk/case-insensitive
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-case-insensitive
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-case-insensitive]

Package: libghc-case-insensitive-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: case-insensitive string comparison${haskell:ShortBlurb}
 The module Data.CaseInsensitive provides the CI type constructor which
 can be parameterised by a string-like type like: String, ByteString,
 Text, etc.. Comparisons of values of the resulting type will be
 insensitive to cases.
 .
 ${haskell:Blurb}

Package: libghc-case-insensitive-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Provides:
 ${haskell:Provides},
Description: case-insensitive string comparison${haskell:ShortBlurb}
 The module Data.CaseInsensitive provides the CI type constructor which
 can be parameterised by a string-like type like: String, ByteString,
 Text, etc.. Comparisons of values of the resulting type will be
 insensitive to cases.
 .
 ${haskell:Blurb}

Package: libghc-case-insensitive-doc
Architecture: all
Section: doc
Depends:
 ${haskell:Depends},
 ${misc:Depends},
Recommends:
 ${haskell:Recommends},
Suggests:
 ${haskell:Suggests},
Description: case-insensitive string comparison${haskell:ShortBlurb}
 The module Data.CaseInsensitive provides the CI type constructor which
 can be parameterised by a string-like type like: String, ByteString,
 Text, etc.. Comparisons of values of the resulting type will be
 insensitive to cases.
 .
 ${haskell:Blurb}
